.container {
    width: 100%;
    display: flex;
  
    flex-direction: column;
    align-items: center;
}
.box_1 {
    width: 100%; /* Để chúng có tổng chiều rộng gần bằng 100% */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('/src/img/header.jfif');
    background-size: contain;
    height: 200px; 
}
@-webkit-keyframes m {
    0% { color: #000000; } 
    50% { color: #ffffff00;  } 
    100% { color: #000000;  } 
}
@-moz-keyframes m { 
    0% { color: #000000; } 
    50% { color: #ffffff00;  }
    100% { color: #000000;  } 
}
@-o-keyframes m { 
    0% { color: #000000; } 
    50% { color: #ffffff00; } 
    100% { color: #000000;  } 
}
@keyframes m { 
    0% { color: #000000;  } 
    50% { color: #ffffff00;  }
    100% { color: #000000;  } 
} 
.box_1 div{
        font-size:50px;
        font-weight:bold;
    -webkit-animation: m 1500ms infinite;
    -moz-animation: m 1500ms infinite; 
    -o-animation: m 1500ms infinite; 
    animation: m 1500ms infinite;
}
.box_span{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.box_2 {
    width: 100%; /* Để chúng có tổng chiều rộng gần bằng 100% */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('/src/img/dog.jfif');
    background-size: contain;
    height: 500px;
}
.box_2 div {
    width: 55%; 
    font-size: 15px;
    text-align: center;
    color: black;
    
}
.box_2 img {
    width: 20%;
    border-radius: 50%;
    box-shadow: 10px 10px 8px 10px #FAE392;
}
.box_3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('/src/img/catt.jfif');
    background-size: contain;
    height: 500px
}
.box_3 div {
    width: 55%; 
    font-size: 15px;
    color: black;
    
}
.box_3 img {
    width: 20%;
    text-align: justify;
    border-radius: 50%;
    box-shadow: 8px 8px 10px 8px #FAE392;
}
.box_4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/src/img/bg4.png');
    background-size: cover;
    height: 500px
}
.box_4 div {
    margin: 0 20px;
    width: 80%; 
    font-size: 20px;
    color: black;
    
}
.box_4_span{
    font-size: 25px;
    font-weight: 600;
    color: black;
}
@-webkit-keyframes my {
    0% { color: #000000; } 
    50% { color: #fff;  } 
    100% { color: #000000;  } 
}
@-moz-keyframes my { 
    0% { color: #000000; } 
    50% { color: #fff;  }
    100% { color: #000000;  } 
}
@-o-keyframes my { 
    0% { color: #000000; } 
    50% { color: #fff; } 
    100% { color: #000000;  } 
}
@keyframes my { 
    0% { color: #000000;  } 
    50% { color: #fff;  }
    100% { color: #000000;  } 
} 
.test {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size:20px;
        font-weight:bold;
        text-decoration: none;
    -webkit-animation: my 2000ms infinite;
    -moz-animation: my 2000ms infinite; 
    -o-animation: my 2000ms infinite; 
    animation: my 2000ms infinite;
}

