.input-container {

   margin-top: 20px;
   margin-bottom: 10px;
   width: 100%;
  }
  
  .auto-expanding-input {
   
    width: 100%;
    min-height: 30px;
    resize: none;
    transition: min-height 0.3s ease-out;
    overflow-y: hidden;
    border: 1px solid #ccc; /* Thêm đường viền để xem rõ kích thước */
  }
  
  .auto-expanding-input.expanded {
    min-height: 150px;
  }
  .button{
    margin: 0;
    padding: 0;
  }
  .button-btn{
    margin: 0 auto;
    padding: 0 5%;
  height: 40px;
  width: 40%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  }