
.body{
    width:85%;
    margin: auto;

    font-family: Arial, Helvetica, sans-serif;
  }
  .body a{
    text-decoration: none;
    
  }
  .body-blog1{
    border-radius: 10px;
    border: 1px solid;
  width: 50%;
  height: 100%;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  }
  .body-blog1-detail{
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
  height: 30%;
  color: black;
  }
  
  .name{
  font-size: 18px;
  color: black;
  font-weight: 1000;
  }
  .name-btn{
    display: flex;
    justify-content: space-between;
  }
  
  .body-blog1-title{
  width: 100%;

  
  }
  .body-blog1-img{
    width: 100%;
    height: 50%;
  }
  .body-blog1-img img{
    width: 100%;
    height: 100%;
  }
  .body-blog1-button{
  width: 100%;
  height: 6%;
  display: flex;
  }
  .body-blog1-button-likeButton{
  width: 50%;
  height: 100%;
  cursor: pointer;
  }
  .body-blog1-button-commentButton{
  width: 50%;
  height: 100%;
  cursor: pointer;
  }
  .body-blog1-ortherComments-theComment-detail{
    height: 20%;
    margin-top: 0%;
  }
  .haha{
    
    margin-bottom: 0%;
    display: flex;
    justify-content:  space-between;  }
  .body-blog-1-otherComments{
    color: black;
  }
  .body-blog1-describe{
    width: 100%;
    height: auto;
  }
  .body-blog1-describe textarea{
  
    width: 100%;
    min-height: 300px;
  }
.comment-input {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 150px;
}
.comment-input form {
height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment-input textarea{
  height: 100%;
  width: 100%;
  margin-bottom: 10px; /* Tạo khoảng cách giữa textarea và button */
}
.comment-input button {
  align-self: flex-end; /* Đặt nút ở cạnh phải của form */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown-content button {
  display: block; /* Để các nút nằm trên cùng một dòng */
  border: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

/* Hiển thị dropdown content khi hover hoặc click vào dropdown button */
 .dropdown:focus-within .dropdown-content {
  display: block;
}

.dropbtn{
  border: none; /* Xóa viền của button */
  background-color: white;
}