body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 70%;
    margin: 0 auto;
    padding: 0 15%;
  }
  
  .row {
    display: flex;
  }
  
  .column {
  
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left-column {
    
  flex: 1;
    background-color:white;
  }
  .input-image{
    width: 100%;
    height: 225px;
    box-sizing: border-box;
    position: relative;
  }
  .headinbox{
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    z-index: 3;
    padding: 2px 4px 2px 28px;
  }
  .headinbox-btn{
    position: relative;
    border-radius: 4px;
    text-align: right;
   
  }
  .infoinbox{
    font-size: 12px;
    color: #2275d3;
    margin-bottom: 0;
  }
  .below-box{
    cursor:  pointer;
    height: 225px;
    opacity: 1;
    padding-top: 0;
    background-color: #f4f4f4;
      border-radius: 4px;
      border: 2px dotted #fe9900;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 3px 0;
  }
  .image-below{
    height: 70px;
    width: 80px;
  }
  .image-below img{
    height: 100%;
    width: 100%;
  }
  .fa-solid fa-camera fa-xl{
    width: 100%;
    height: 100%;
    
  }
  .right-column {
    flex: 2;
    background-color: white;
  
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .input-container {
    max-width: 350px;
   margin-top: 20px;
   margin-bottom: 10px;
  }
  
  .auto-expanding-input {
   
    width: 100%;
    min-height: 30px;
    resize: none;
    transition: min-height 0.3s ease-out;
    overflow-y: hidden;
    border: 1px solid #ccc; /* Thêm đường viền để xem rõ kích thước */
  }
  
  .auto-expanding-input.expanded {
    min-height: 150px;
  }
  .button{
    margin: 0;
    padding: 0;
  }
  .button-btn{
    margin: 0 auto;
    padding: 0 5%;
  height: 40px;
  width: 40%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  }
